node_modules
dist
.idea
.DS_Store
*.rdb
ignore
pg_upgrade_*
npm-*
public/build
Dockerrun.aws.json
client/config/*.json
!client/config/template.json
scripts/property-profile/Omniearth/files/*
profile.txt
property-profile-scores.csv
*.heapsnapshot
*.log
.vscode/
**/*.tmp
dll/
yarn.lock
package-lock.json
src-client/package-lock.json
app-config.js
storybook-static
**/svg-gen/raw/*
**/svg-gen/stringcase.pyc
!**/svg-gen/raw/.gitkeep
chart/**/*.tgz
chart/**/requirements.lock
coverage
*.pyc
*.env
# dependencies
src-client/node_modules

# misc
src-client/.DS_Store
src-client/.env.local
src-client/.env.development.local
src-client/.env.test.local
src-client/.env.production.local
